header {
  font-family: $base-font;
  width: 100%;

  .container {
    width: 100%;
    padding: 56px 191px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .brand {
      display: flex;
      align-items: center;
      gap: 12px;

      .logo {
        background-color: $base-color;
        border-radius: 100%;
        width: 41px;
        height: 41px;
        @include center();
        color: $white;
        font-weight: 700;
        font-size: 26px;
      }

      h5 {
        color: $black-1;
        font-size: 24px;
        font-weight: 700;
      }
    }

    nav {
      ul {
        display: flex;
        align-items: center;
        gap: 40px;

        li {
          a {
            color: $black-2;
            opacity: 0.5;
            font-weight: 400;
          }

          .home {
            font-weight: 700;
            opacity: 1;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    position: relative;

    .container {
      margin: 0 auto;
      width: 90%;
      padding: 30px 0;
    }

    .element {
      position: absolute;
      top: 130px;
    }
  }
}

@media screen and (max-width: 767px) {
  header {
    .container {
      margin: 0 auto;
      width: 90%;
      padding: 30px 0;
      gap: 30px;

      .brand {
        gap: 8px;

        .logo {
          width: 31px;
          height: 31px;
          font-size: 18px;
        }

        h5 {
          font-size: 18px;
        }
      }

      nav {
        ul {
          gap: 30px;

          li {
            a {
              font-size: 13px;
            }
          }
        }
      }
    }

    .element {
      display: none;
    }
  }
}
